button {
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  border-radius: 6px;
}

button:disabled {
  cursor: not-allowed;
}

button:active {
  transform: scale(0.98);
}
