button {
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  filter: brightness(90%);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
  cursor: not-allowed;
}
