button {
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
  font-weight: 500;
  /**
    Make it so the max width of the button wraps the width with padding to the screen size
    e.g. if the screen is 400px wide, the button can be at most 396px wide (2 * 1em padding)
  */
  max-width: calc(100% - 4em);
}

@media screen and (max-width: 600px) {
  button {
    font-size: 0.875rem;
    padding: 0.75em;
    max-width: calc(100% - 3em);
  }
}

@media screen and (max-width: 400px) {
  button {
    font-size: 0.875rem;
    padding: 0.5em;
    max-width: calc(100% - 2em);
  }
}

@media screen and (min-width: 800px) {
  button {
    font-size: 1rem;
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 1200px) {
  button {
    font-size: 1.25rem;
    padding: 0.75em 1.25em;
    max-width: calc(100% - 6em);
  }
}

button:hover {
  border-radius: 8px;
  transform: scale(1.02);
}

button:disabled {
  cursor: not-allowed;
}

button:active {
  transform: scale(0.98);
  border-radius: 8px;
  transition: transform 0.1s ease;
  filter: saturate(0.8);
}

button::backdrop {
  background-color: var(--button-backdrop-background-color);
}
