.layout-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  max-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
  color: var(--layout-foreground);
  background-color: var(--layout-background);
  border: 5px solid var(--layout-border);
  transition: width 0.3s ease, padding 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.layout-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

.layout-container-inner>* {
  width: auto;
  max-width: 100%;
  margin: 8px 4px;
}

@media screen and (max-width: 600px) {
  .layout-container {
    padding: 1.25rem 0.5rem;
    align-items: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .layout-container {
    padding: 2rem 4rem;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .layout-container {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 1441px) {
  .layout-container {
    padding: 2.25rem 8rem;
  }
}

.layout-container>* {
  width: 100%;
  max-width: calc(100vw - 2.5rem);
}

.layout-container> :not(:last-child) {
  margin-bottom: 1.5rem;
}