.layout-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
}

.layout-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

.layout-container-inner>* {
  width: auto;
  max-width: 100%;
  margin: 8px 4px;
}

@media screen and (max-width: 600px) {
  .layout-container {
    padding: 1.25rem 0.5rem;
    align-items: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .layout-container {
    padding: 1rem 1rem;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .layout-container {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .layout-container {
    padding: 1rem 2rem;
  }
}

.layout-container>* {
  width: 100%;
  max-width: calc(100vw - 2.5rem);
}

.layout-container> :not(:last-child) {
  margin-bottom: 1.5rem;
}