.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .layout-container {
    padding: 1.25rem 0.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .layout-container {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .layout-container {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .layout-container {
    padding: 1rem 2rem;
  }
}

.layout-container > * {
  width: 100%;
  max-width: 1200px;
}

.layout-container > :not(:last-child) {
  margin-bottom: 1.5rem;
}
