.enotion-navbar {
  position: absolute;
  z-index: 50;
  padding: 0.2rem 0.5rem;
  box-shadow: 1px 1px 3px var(--navbar-box-shadow-color);
}

.enotion-navbar::backdrop {
  box-shadow: 1px 1px 9px var(--navbar-shadow-color);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.navbar-top {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

.navbar-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

.navbar-left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
}

.navbar-right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
}
