select {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.375rem;
}

@media screen and (max-width: 600px) {
  select {
    max-width: calc(100% - 3em);
  }
}

@media screen and (max-width: 400px) {
  select {
    font-size: 0.875rem;
    max-width: calc(100% - 2em);
  }
}

@media screen and (min-width: 800px) {
  select {
    font-size: 1rem;
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 1200px) {
  select {
    font-size: 1.25rem;
    max-width: calc(100% - 6em);
  }
}

select:disabled {
  background-color: var(--select-disabled-background-color);
  color: var(--select-disabled-text-color);
  border-color: var(--select-disabled-border-color);
}

select::placeholder {
  color: var(--select-placeholder-color);
}

select:focus {
  border-color: var(--select-focus-border-color);
  box-shadow: 0 0 0 3px var(--select-focus-ring-color);
  outline: none;
}

select:hover {
  border-color: var(--select-hover-border-color);
}

select:invalid {
  border-color: var(--select-invalid-border-color);
}

select:invalid:focus {
  box-shadow: 0 0 0 3px var(--select-invalid-focus-ring-color);
}

select option {
  background-color: var(--select-option-background-color);
  color: var(--select-option-text-color);
  cursor: pointer;
}

select option:disabled {
  background-color: var(--select-option-disabled-background-color);
  color: var(--select-option-disabled-text-color);
}

.select-container {
  position: relative;
  display: inline-flex;
  width: 100%;
  align-items: center;
  background-color: var(--select-background-color);
  color: var(--select-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--select-border-color);
  font-size: 1rem;
  line-height: 1.5rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  max-width: calc(100% - 0.25em);
  box-sizing: border-box;
  cursor: pointer;
  margin: 1rem;
}

.select-icon {
  position: absolute;
  top: 50%;
  left: -0.75rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  pointer-events: none;
  color: var(--select-icon-color);
  transition:
    color 0.2s,
    background-color 0.2s,
    transform 0.2s;
}

select:disabled+.select-icon {
  color: var(--select-icon-disabled-color);
}

select:hover+.select-icon {
  color: var(--select-icon-hover-color);
  transform: scale(0.95);
}

select:focus+.select-icon {
  background-color: var(--select-icon-focus-background);
  border-radius: 0.25rem;
}