select {
  border-color: var(--select-border-color);
  background-color: var(--select-background-color);
  color: var(--select-text-color);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  width: 100%;
  box-sizing: border-box;
}

select:disabled {
  background-color: var(--select-disabled-background-color);
  color: var(--select-disabled-text-color);
  border-color: var(--select-disabled-border-color);
}

select::placeholder {
  color: var(--select-placeholder-color);
}

select:focus {
  border-color: var(--select-focus-border-color);
  box-shadow: 0 0 0 3px var(--select-focus-ring-color);
  outline: none;
}
