.my-custom-card {
  background: linear-gradient(135deg, #9ef0f4 0%, #efefcc 100%);
  color: #444444;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s linear, box-shadow 0.3s ease;
  font-weight: 600;
}

.my-custom-card:hover {
  transform: translateY(7px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s linear, box-shadow 0.3s ease;
}