@import "@enotion/components/index.css";
@import "@enotion/notify/index.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-top: 24px;
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-top: 22px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 600px) {
  * {
    max-width: 600px;
  }
}