@import "tailwindcss";
@import "@enotion/components/index.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-mulish), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  background-color: white;
  color: black;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}