@import "tailwindcss";
@import "@enotion/components/index.css";


html,
body {
  margin: 0;
  padding: 0;
  width: screen;
  height: screen;
  font-family: var(--font);
  position: relative;
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}