@import "tailwindcss";
@import "@enotion/components/index.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    var(--font-mulish), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-height: fit-content;
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .bg-muted {
    background-color: var(--bg-muted);
  }
}

::-webkit-scrollbar {
  display: none;
}
